/* Cards  */

.card{
    font: 20px "Roboto", sans-serif;
    background: #FFF;
    
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding:1%;
    line-height: 1.4em;
    vertical-align:top;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding:15px;
    border-radius: 2px;
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s, -moz-box-shadow 0.3s;
}
.card p{
    line-height:2em;
}
.card:hover{
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card.one{
    width:98%;
    margin:1%;
}
.card.three{
    width:97%;
    margin:1.5%;
}
.card h1{
    font-size: 28px;
    font-weight: 400;
    background:#64B5F6;
    padding:5px;
    color:#FFF;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
/*    margin-top: -15px;
    margin-left: -15px;*/
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    overflow: hidden;
}
.card.dark{
    background:#172f8e;
    color:#FFF;
}
.card.three{
    float:left;
}

.column{
    width:33.3333333333%;
    display:inline-block;
    vertical-align: top;
}
.graph{
    margin:15px;
}
@media screen and (max-width:1400px){
    .column{
        width:50%;
    }
}
@media screen and (max-width:1000px)
{
    .column{
        width:100%;
    }/*
    #chartDiv1, #chartDiv2, #chartDiv3{
        margin-left:50%;
        position:relative;
        left:-310px;
    }*/
}